@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@media (min-width: 1200px)
{.h1, h1 {
    font-size: 1.9rem;
}
}
/*  styling scrollbars  */
::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #a5aaad;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #3ea175;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a5aaad;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.text-primary-p {
  color: #a5aaad;
  font-size: 14px;
  font-weight: 700;
}

.font-bold {
  font-weight: 700;
}

.text-title {
  color: #2e4a66;
}

.text-lightblue {
  color: #469cac;
}

.text-red {
  color: #cc3d38;
}

.text-yellow {
  color: #a98921;
}

.text-green {
  color: #3b9668;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 0.3fr 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 3fr;
  grid-template-areas:
    "sidebar nav nav nav"
    "sidebar main main main";
  /* grid-gap: 0.2rem; */
}

.navbar {
  background: #ffffff;
  grid-area: nav;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px 0 30px;
  border-bottom: 1px solid lightgray;
}

.nav_icon {
  display: none;
}

.nav_icon > i {
  font-size: 26px;
  color: #a5aaad;
}

a.dashh_1 {
  text-align: left;
  font: normal normal medium 12px/17px Avenir Next LT Pro;
  letter-spacing: 0px;
  text-decoration: none;
  color: #4a4a4a;
  opacity: 1;
}
.dashcen {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.22px;
  color: #166086;
  opacity: 1;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.navfb {
  width: 18px;
  height: 18px;
}
.navyt {
  width: 35px;
  height: 32px;
}
/* .navbar__left > a {
  margin-right: 30px;
  text-decoration: none;
  color: #a5aaad;
  font-size: 15px;
  font-weight: 700;
} */
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  color: gray;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.navbar__left .active_link {
  color: #265acc;
  border-bottom: 3px solid #265acc;
  padding-bottom: 12px;
}

.navbar__right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__right > a {
  margin-left: 20px;
  text-decoration: none;
}

.navbar__right > a > i {
  color: #a5aaad;
  font-size: 16px;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 2px 2px 5px #d9d9d9, -2px -2px 5px #ffffff;
  padding: 7px;
}

main {
  /* background: #f3f4f6; */
  grid-area: main;
  /* overflow-y: auto; */
}

.main__container {
  padding: 20px 35px;
}

.main__title {
  background: #e7f3ff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
  display: flex;
  width: 1012px;
  height: 260px;
  align-items: center;
}

.main__greeting > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greeting > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.card_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_inner > span {
  font-size: 25px;
}

.charts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 37px;
}

.charts__left {
  padding-left: 37px;
  padding: 36px;
  border-radius: 5px;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__left__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #ffc100;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

.charts__right {
  padding: 25px;
  border-radius: 5px;
  background: #ffffff;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;
}

.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__right__title > i {
  color: #ffffff;
  font-size: 20px;
  background: #39447a;
  border-radius: 200px 0px 200px 200px;
  -moz-border-radius: 200px 0px 200px 200px;
  -webkit-border-radius: 200px 0px 200px 200px;
  border: 0px solid #000000;
  padding: 15px;
}

.charts__right__cards {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  gap: 10px;
  margin-top: 30px;
}

.card1 {
  background: #00d0ff 0% 0% no-repeat padding-box;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font: normal normal medium 18px/31px Avenir Next LT Pro;
  color: #ffffff;
  opacity: 1;
}
.card1.h1 {
  text-align: left;
  font: normal normal medium 15px/22px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.card1.p {
  text-align: left;
  font: normal normal normal 18px/22px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}

.card2 {
  background: #ff3a48 0% 0% no-repeat padding-box;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font: normal normal medium 15px/31px Avenir Next LT Pro;
  color: #ffffff;
  opacity: 1;
}

.card3 {
  background: #d68fff 0% 0% no-repeat padding-box;
  padding: 2px;
  border-radius: 5px;
  font-size: 14px;
  text-align: left;
  font: normal normal medium 15px/31px Avenir Next LT Pro;
  color: #ffffff;
  opacity: 1;
}
canvas.canvasjs-chart-canvas {
  padding-left: 15px;
  padding-top: 23px;
  max-width: -webkit-fill-available;
}
a.canvasjs-chart-credit {
  visibility: hidden;
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.thirdpair {
  padding-left: 8px;
  padding-right:8px;
  width: 400px;
  padding-top: 10px;
  height: 300px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 16px;
  opacity: 1;
}
.col-4 {
  padding-top: 30px;
  flex: 0 0 auto;
  width: 33.3333%;
}
/*  SIDEBAR STARTS HERE  */

#sidebar {
  grid-area: sidebar;
  /* overflow-y: auto; */
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.bs-example {
  margin: 50px;
}
.bs-example a {
  font-size: 22px;
  text-decoration: none;
  margin: 0 10px;
}
.logo-1 {
  top: 34px;
  left: 10px;
  width: 56px;
  height: 14px;
  text-align: left;
  font: normal normal normal 10px/14px Anton;
  letter-spacing: 0px;
  color: #166086;
  opacity: 1;
}
.dashh_1 {
  top: 36px;
  left: 891px;
  width: 141px;
  height: 22px;
  text-align: center;
  font: normal normal medium 22px/26px Barlow;
  letter-spacing: 0.22px;
  color: #166086;
  opacity: 1;
}
.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
  /* color: #E85B6B; */
}

.sidebar__img {
  display: flex;
  align-items: center;
}

.sidebar__title > div > img {
  width: 75px;
  object-fit: contain;
}

.sidebar__title > div > h1 {
  font-size: 18px;
  display: inline;
}

.sidebar__title > i {
  font-size: 18px;
  display: none;
}

.sidebar__menu > h2 {
  color: #3ea175;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}

.sidebar__link {
  color: #f3f4f6;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
}

.active_menu_link {
  background: rgba(62, 161, 117, 0.3);
  color: #3ea175;
}

.active_menu_link a {
  color: #3ea175 !important;
}

.sidebar__link > a {
  text-decoration: none;
  color: #a5aaad;
  font-weight: 700;
}

.sidebar__link > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: #e65061;
}

.sidebar__logout > a {
  text-decoration: none;
  color: #e65061;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout > i {
  margin-right: 10px;
  font-size: 18px;
}

.sidebar_responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  .container {
    grid-template-columns: 1fr;
    /* grid-template-rows: 0.2fr 2.2fr; */
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
      "nav"
      "main";
  }

  #sidebar {
    display: none;
  }

  .sidebar__title > i {
    display: inline;
  }

  .nav_icon {
    display: inline;
  }
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }

  .charts {
    grid-template-columns: 1fr;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 480px) {
  .navbar__left {
    display: none;
  }
}
.step1 {
  top: 159px;
  left: 162px;
  width: 1683px;
  height: 359px;
  background: #e7f3ff 0% 0% no-repeat padding-box;
  border-radius: 30px;
  opacity: 1;
}
.main__title > img {
  max-height: 160px;
  object-fit: contain;
  margin-right: 20px;
}
/* main__greeting */
.step2 {
  top: 1647px;
  left: 162px;
  width: 1683px;
  height: 722px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 24px;
  opacity: 1;
}
.wel {
  padding-top: 20px;
  top: 269px;
  left: 265px;
  width: 541px;
  text-align: left;
  font: normal normal bold 24px/40px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #00b5e6;
  opacity: 1;
}
.come1 {
  top: 325px;
  left: 292px;
  width: 530px;
  height: 42px;
  text-align: left;
  font: normal normal 300 23px/38px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #00b5e6;
  opacity: 1;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
.comp {
  background: #e1ffff 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 17px/20px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #00b8b8;
}
.warning {
  background: #fff3e2 0% 0% no-repeat padding-box;
  border-radius: 8px;
  opacity: 1;
  text-align: left;
  font: normal normal normal 17px/20px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #e16200;
}
.user1 {
  width: 32px;
  height: 32px;
  opacity: 1;
}

.user2 {
  width: 458px;
  height: 327px;
  opacity: 1;
}
.navb {
  text-align: left;
  font: normal normal medium 30px/36px Avenir Next LT Pro;
  letter-spacing: 0px;
  color: #061058;
  opacity: 1;
}
.chi1 h6 {
  text-align: left;
  font: normal normal normal 13px/20px Avenir Next LT Pro;
  letter-spacing: -0.09px;
  color: #2e2d2d;
  opacity: 1;
}
.chi1 p {
  text-align: left;
  font: normal normal normal 11px/20px Avenir Next LT Pro;
  letter-spacing: -0.09px;
  color: #8a919d;
  opacity: 1;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
background-color: gray;
border-radius: 50%;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #8800ff;
  color: white;
  border-radius: 50%;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}
